<div class="row">
  <div class="col s4 offset-s4 center-align login z-depth-2">
    <h1>Log In</h1>
    <%= link_to "Sign In With Google", "auth/google", class: "waves-effect waves-light btn login-btn z-depth-2" %>
  </div>
</div>
