.login {
  background-color: #efefef;
  margin-top: 50px;
}

.login-btn {
  margin-bottom: 40px;
}

.container.project-card {
background-color: #efefef;
padding: 20px;
margin-top: 20px;
width: 80%;
overflow: auto;
}

.details {
  width: 300px;
}

*[id^='map-small'] {
  width: 300px;
  height: 300px;
  background-color: white;
}
